# Python
venv/
*.pyc
__pycache__/
.env

# Node/React
node_modules/
dist/
build/
*.local

# OS
.DS_Store

# Logs
*.log
logs/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/static/images/*.png
